zmodule environment
zmodule input
zmodule utility
zmodule exa
zmodule ohmyzsh/ohmyzsh --root plugins/brew --if '[[ "$OSTYPE" == "darwin"* ]]'
zmodule romkatv/powerlevel10k

zmodule zsh-users/zsh-completions --fpath src
zmodule marlonrichert/zsh-autocomplete
# gitignore require compdef
zmodule ohmyzsh/ohmyzsh --root plugins/gitignore

# must be last
zmodule zdharma-continuum/fast-syntax-highlighting
zmodule zsh-users/zsh-autosuggestions

